@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
#banner{
	background-color:#f9d56e; 
}
.row{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-right: 1rem;
	margin-left: 1rem;
}
form{
	padding: 0.5rem;
}
#form-row{
	padding-right: 1rem;
	padding-left: 1rem;
}
body{
	font-family: 'Oswald', sans-serif;
	color: black;
}
#login{
	margin-top: auto;
	margin-bottom: auto;
}
#footer-row{
	margin-top:0;
	margin-bottom:0;
}
#cards-row{
	padding-left: 1rem;
	padding-right: 1rem;
}
.home-cards{
	width:40%;
}
.pic{
	width: 100%;
	height: auto;
}
#btn-container{
	flex-direction: column;
	position: absolute;
	top: 25%;
	z-index: 100;
}
#btn-col{
	position: static;
}
@media(max-width: 576px){
	#btn-container{
		position: static;
		flex-direction: row;
		width: 100%;
	}
}
.btn-primary{
	background-color:black;
	border-color:white;

}
.menu-head > h2{
	display: inline-block;
	padding: 0.5rem;
	text-align: center;
}
.menu-head{
	text-align: center;
}
.car-pic{
	margin-left: auto;
	margin-right: auto;
	max-height: 400px;
	width: auto;
}
